<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Hello World</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://js.pusher.com/8.2.0/pusher.min.js"></script>
</head>

<body class="bg-black text-white p-4">
  <h1 class="text-blue-500 text-xl mb-4">Hello World</h1>
  <div class="w-full border py-2 px-2">
    <button id="nuevaNota" class="border hover:bg-gray-700 transition bg-gray-800 text-white px-4 py-2 rounded">
      Nueva nota
    </button>
  </div>
  <div id="notificaciones" class="mt-4"></div>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
      const $ = sel => document.querySelector(sel);
      const $$ = sel => document.querySelectorAll(sel);

      Pusher.logToConsole = true;

      var pusher = new Pusher('0afe1c275b2ed6dbabd7', {
        cluster: 'us2'
      });

      var channel = pusher.subscribe('my-channel');
      channel.bind('my-event', function (data) {
        const notificaciones = $('#notificaciones');
        const mensaje = document.createElement('p');
        mensaje.textContent = JSON.stringify(data);
        notificaciones.appendChild(mensaje);
        alert(mensaje)
      });

      // Agregar evento de clic al botón "Nueva nota"
      $('#nuevaNota').addEventListener('click', function() {
        fetch('/nueva-nota', {
          method: 'POST',
        })
        .then(response => response.json())
        .then(data => {
          if (data.success) {
            console.log('Nota creada exitosamente');
          }
        })
        .catch(error => console.error('Error:', error));
      });
    });
  </script>
</body>

</html>
